<template>
  <div class="home">
    <div class="users-list">
      <router-link 
        v-for="user in users" 
        :key="user.id"
        :to="{ name: 'UserProfile', params: {userId: user.id }}">
          {{ user.username }}
        </router-link>
    </div>
  </div>
</template>

<script>
import { users } from "../assets/users";

export default {
  name: 'Home',
  setup() {
    return {
      users
    }
  }
}
</script>

<style lang="scss">
.home {
  padding: 50px 5%;

  .users-list {
    display: flex;
    flex-direction: column;
  }
}
</style>
