<template>
    <div class="twoot-item" @click="favouriteTwoot(twoot.id)">
        <div class="twoot-item__user">
            @{{ username }}
        </div>
        <div class="twoot-item__content">
            {{ twoot.content }}
        </div>
    </div>
</template>

<script>

export default {
    name: "TwootItem",
    props: {
        username: {
            type: String,
            required: true
        },
        twoot: {
            type: Object,
            required: true
        }
    },
    setup(props, ctx) {

        function favouriteTwoot(id) {
            ctx.emit('favourite', id)
        }

        return {
            favouriteTwoot
        }

        // onMounted(() => {
        //     console.log('mounted!')
        // })
        // onUpdated(() => {
        //     console.log('updated!')
        // })
        // onUnmounted(() => {
        //     console.log('unmounted!')
        // })
    }
}
// export default {
//     name: "TwootItem",
//     props: {
//         username: {
//             type: String,
//             required: true
//         },
//         twoot: {
//             type: Object,
//             required: true
//         }
//     },
//     methods: {
//         favouriteTwoot(id) {
//             this.$emit('favourite', id)
//         }
//     }
// }
</script>

<style lang="scss" scoped>
.twoot-item {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #DFE3E8;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    transform: scale(1.1, 1.1);
  }
  .twoot-item__user {
    font-weight: bold;
  }
}
</style>
